$primaryColor: #121212;
$secondaryColor: #665cff;
$terciaryColor: #04fe99;
$quaternaryColor: #f4f35e;
$whiteColor: #ffffff;
$errorColor: #f4635e;

:root {
  --toastify-color-error: rgba(218, 95, 100, 1);
}

.clr-primary {
  color: $primaryColor;
}

.clr-secondary {
  color: $secondaryColor;
}

.clr-terciary {
  color: $terciaryColor;
}

.clr-quaternary {
  color: $quaternaryColor;
}

.clr-white {
  color: $whiteColor;
}

.clr-error{
  color: $errorColor;
}

.bgr-primary {
  background-color: $primaryColor;
}

.bgr-secondary {
  background-color: $secondaryColor;
}

.bgr-terciary {
  background-color: $terciaryColor;
}

.bgr-quaternary {
  background-color: $quaternaryColor;
}

.bgr-white {
  background-color: $whiteColor;
}
