.gif-card {
  width: 304px;
}
.gif-img {
  width: 300px;
  height: 300px;
  object-fit: content;
}
.gif-card-border {
  border: 2px solid rgb(49, 49, 49);
  border-radius: 5px;
}
.gif-title {
  border-bottom: 2px solid rgb(49, 49, 49);
}
